.boton{
    width: 70px;
    height: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.36);    
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    background-color: mediumpurple;
   
}

.boton > i{
    width: 20px;
    height: 20px;
    visibility: visible;
}

.boton:active > span{
    font-size: 20px;
}

.boton:hover {
    font-size: 20px;
}

.boton:hover > i {
    display: none;
}

.boton:active{
    transform: translate(10%, 10%);
    box-shadow: none;
}